.nitro-rp-inventory {
    width: 280px;
    height: 380px;

    .equipped-slots {
        .equipped-slot {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .rp-item {
        position: relative;
        width: 50px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .item-quantity {
        position: absolute;
        top: 2px;
        left: 2px;
        font-size: 10px;
        font-weight: bold;
        background: rgba(0, 0, 0, 0.6);
        padding: 0 3px;
        border-radius: 3px;
        z-index: 1;
        pointer-events: none;
        text-shadow: 1px 1px 1px #000;
    }
}
